* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Big Shoulders Display Font*/
@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('./assets/fonts/big-shoulders-display/BigShouldersDisplay-ExtraBold.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    justify-content:center ;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background: url('./assets/worldmap.png') no-repeat center/cover;
    color:white;
}

header img {
  width: 95px;
  height: 85px;
}

header h1 {
    color: #32CD32;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'BigShouldersDisplay', sans-serif;
}

header p {
    font-size: 0.6em;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

